@import url('https://fonts.googleapis.com/css2?family=Jersey+15&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --corBotao: darkblue;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
    font-family: "Poppins", sans-serif;
}
/*Cabeçalho e Menu*/
header{
    background-color: rgb(15, 15, 15);
}
h1,h3{
    text-align: center;
    text-transform: uppercase;
    font-size: 60px;
    font-weight: 800;
    background-image: linear-gradient(45deg, #d5d5d5,#abacac,#7e8080, #4d5050, #d6d6d6);
    background-size: 400% 100%;
    -webkit-background-clip: text;
    color: transparent;
    animation: title 10s linear infinite alternate;
}

@keyframes title {
    0%{background-position-x: 100%;}
    100%{background-position: 400%;}
}

nav{
    background-color: rgb(15, 15, 15);
}

nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;

    flex-wrap: wrap;
}

nav ul li a{
    display: block;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    text-decoration: none;
    color: white;
    transition: .3s;
    position: relative;
}

nav ul li a:hover{
    background-color: black;
}

.barras-menu::after{
    content: "";
    position: absolute;
    height: 2px;
    bottom: 0;
    left: 0;
    width: 0%;
    transition: .4s;
    background-color: white;
}

.barras-menu:hover::after{
    width: 100%;
}

.menu{
    position: relative;
}

.menu .dropdown{
    position: absolute;
    width: 100%;
    overflow: hidden;
    text-align: center;
    height: 0;
    z-index: 2;
    background-color: rgb(34, 32, 32);
}

.menu .dropdown a{
    padding: 20px 10px;
}

.menu:hover .dropdown{
    height: 500%;
}

.dropdown a:hover{
    background-color: rgb(15, 15, 15);
}

/*Container Saúde*/


.container{
    padding: 2.5rem;
    display: flex;
}
.galeria{
    background-color: white;
    height: 400px;
    width: 250px;
    color: black;
    text-align: center;
    padding: 2rem;
    margin: 0 auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input[type="number"]{
    height: 35px;
    text-align: center;
    padding: .5rem;
}

input::placeholder{
    text-align: center;
    font-size: 15px;
}

select{
    height: 30px;
    width: 190px;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
}

button{
    height: 40px;
    width: 100px;
    background-color: var(--corBotao);
    cursor: pointer;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.342);
}
/*Desconto*/
.desconto button{
    margin-top: 1rem;
}
/*Média escolar*/
.media-escolar h2{
    padding: .5rem 0;
}

.media-escolar button{
    margin-top: 1rem;
}

.media-escolar input[type="number"]{
    height: 28px;
}

#resultadoMedia{
    margin-top: .5rem;
}

.media-escolar select{
    background-color: #d8d2d271;
}

/*Overlay*/
.referencias{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 5rem;
}

img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.galeria-referencias{
    width: 350px;
    height: 450px;
    overflow: hidden;
    position: relative;
    transition: .3s;
    cursor: pointer;
    border: 1px solid rgba(245, 245, 220, 0.356);
    border-radius: 10px;
}

.galeria-referencias:hover{
    transform: translateY(-6px);
}


.sinopse{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.904);
    transition: .3s;
    opacity: 0;
    padding: .8rem;
}

.sinopse:hover{
    opacity: 1;
}

.sinopse a{
    color: white;
    margin-top: 1.5rem;
    text-decoration: none;
    font-weight: bold;
    align-items: center;
    justify-content: center;
}

.bi-youtube{
    font-size: 50px;
    color: rgb(122, 8, 8);

}

.redes{
    display: flex;
    justify-content: center;
    align-items: center;
}

.redes ul li{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    list-style: none;
    margin: 0 20px;
    background-color: white;
    height: 60px;
    width: 60px;
    border-radius: 60px;
    cursor: pointer;
    transition: .3s;
    position: relative;
}

.redes ul li:hover{
    width: 100px;
}


.redes ul li:hover::before{
    opacity: 1;
}

.redes span{
    position: absolute;
}
.redes ul li .icon{
    font-size: 30px;
    color: #000000;
    transition: .2s;
}

.redes ul li:hover .icon{
    transform: scale(0);
}

.bi-instagram{color: rgb(155, 38, 58);}
.bi-linkedin{color: blue;}
.bi-github{color: rgb(53, 6, 53);}

.redes ul li .text{
    color: white;
    font-size: 15px;
    font-weight: bold;
    transition: .2s;
    transition-delay: .1s;
    transform: scale(0);
}

.redes ul li:hover .text{
    transform: scale(1);
}

.redes ul li::before{
    content: "";
    position: absolute;
    opacity: 0;
    inset: 0;
    border-radius: 60px;
}

.linkedin::before{background-image: linear-gradient(45deg, rgb(27, 27, 214), rgb(23, 89, 163));}
.github::before{background-image: linear-gradient(45deg, rgb(70, 5, 70), rgb(167, 21, 167));}
.instagram::before{background-image: linear-gradient(45deg, rgb(139, 21, 41),rgb(161, 69, 84));}